<<<<<<< HEAD
H2 {
    width: 100px;
    height: 10px;
    background-color:orange;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {background-color: orange;}
  }
=======
button {
    background-color: #ff6b26;
}
>>>>>>> 002245fc069e25756a1d7059e3dbce62125a2333
